@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Yellow */
  --color-yellow-400: rgba(255, 249, 102, 1);

  /* Purple */
  --color-purple-400: var(--Darkest-Purple, #362287);
  --color-purple-500: var(--Main-Purple, #9393f9);
  --color-purple-600: rgba(54, 34, 135, 0.3);

  /* Blue */
  --color-blue-400: var(--Universal-White, #6cf);

  /* gray */
  --color-gray-400: var(--Universal-White, #fff);

  --background: 0 0% 100%;
  --foreground: 222.2 47.4% 11.2%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 47.4% 11.2%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 47.4% 11.2%;

  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;

  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 100% 50%;
  --destructive-foreground: 210 40% 98%;

  --ring: 215 20.2% 65.1%;

  --radius: 0.5rem;
}

.dark {
  --background: 224 71% 4%;
  --foreground: 213 31% 91%;

  --muted: 223 47% 11%;
  --muted-foreground: 215.4 16.3% 56.9%;

  --accent: 216 34% 17%;
  --accent-foreground: 210 40% 98%;

  --popover: 224 71% 4%;
  --popover-foreground: 215 20.2% 65.1%;

  --border: 216 34% 17%;
  --input: 216 34% 17%;

  --card: 224 71% 4%;
  --card-foreground: 213 31% 91%;

  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 1.2%;

  --secondary: 222.2 47.4% 11.2%;
  --secondary-foreground: 210 40% 98%;

  --destructive: 0 63% 31%;
  --destructive-foreground: 210 40% 98%;

  --ring: 216 34% 17%;

  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border;
  }

  .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }

  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply font-primary text-3xl font-bold md:text-5xl;
  }

  body {
    max-width: 1728px;
    margin: 0 auto;
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}

/* Show rectangle yellow box */

.show-yellow-rectangle {
  border-radius: 32px 32px 42px 32px;
  background: var(--Yellow, #fff966);
  box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, 0.15);
  width: 524px;
  height: 569px;
  flex-shrink: 0;
  position: absolute;
  z-index: 1;
  right: -15px;
  bottom: -15px;
}

.show-subText {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 28.8px */
}

.show-input-shake {
  animation: animate-shake 0.2s ease-in-out 0s 2;
}

/* Hide input:number arrows */
input[type='number'] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.chevron-clicked {
  animation: flash-chevron 0.5s ease-in-out 0s 1;
}

/* KeyFrames */

@keyframes animate-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}

@keyframes flash-chevron {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
}
