@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-yellow-400: rgba(255, 249, 102, 1);
  --color-purple-400: var(--Darkest-Purple, #362287);
}

@layer base {
  .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }

  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply font-primary text-3xl font-bold md:text-5xl;
  }

  body {
    max-width: 1728px;
    margin: 0 auto;
  }
}
